[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.8"

[packages]
fastapi-login = "*"
tortoise-orm = "*"
passlib = "*"
psycopg2-binary = "==2.8.6"
pandas = "*"
bcrypt = "*"
asyncpg = "*"
PyYAML = "*"
jwt = "*"

[packages.fastapi]
extras = [ "all",]
